html {
    background:black;
    color: white;
}

body {
    background: url('img/indexBackground.png');
    font-family: 'Chango';
}

.container-fluid {
    background: rgba(255,255,255,0.5);
    height: auto;
}

.container {
    background: black;
    color: white;
    width: 100%;
}

.panel {
    color:black;
}

.auth-panel {
    background: black;
    color: white;
    padding: 3em;
    text-align: center;
    margin: 4em 2em;
    border-radius: 20px;
}

/* inputs */
inputs {
    color:black;
}

#id_username, #id_password, #id_q, #id_email, #id_password1, #id_password2 {
    color: black;
    width:50%;
    border-radius:5px;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

/****** Index.html ******/

#id_q {
    color: black;
}
.caption {
    display: none;
}

#searchButton {
    position: fixed;
    top:15%;
    left:0;
    background: transparent;
    border: none;
}
#searchButton:visited {
    border: none;
}

#giftWrapper {
    width: 100%;
    height 100vh;

}

.thumbnail {
    border: solid 1px white;
    background-color: transparent;
}
.post-thumbnail {
    margin: 0;
    color: black;
    background: transparent;
    border: none;
    padding: -10px 0;
    height:25vh;
}
.post-thumbnail img {
    width:100%;
    height:100%;
    display:block;
    background-position: 50% 50%;
    background-repeat:   no-repeat;

}

.post-thumbnail:hover .caption {
    display: block;
    position: absolute;
    background: rgba(0,0,0,0.7);
    bottom: 0;
    right: 0;
    opacity: 1;
    transition: 0.25s ease-in-out;
    width: 100%;
    height: 40%;
    color: white;
    z-index: 10;
    font-family: 'Futura-Medium';
}

modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.modal-thumbnail img {
    width:100%;
    height:100%;
}

.modal-caption {
    position: relative;
    float:left;
}

/****** Profile.html  ******/

.profile-section {
    height:60vh;
}

.profile-summary {
    white-space: pre-wrap;
}

.profile-gift-well {
    height: 9em;
    display:flex;
    width:  50%;
    margin:  0 auto;
}

.gift-list {
    over-flow-x: scroll;
    height: 500px;
    width: 100%;
}

.gift-value {
    font-family: 'Futura-Medium';
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 4em;
}