<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Shapevibe</title>
    {% load staticfiles %}
    <!--<link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>-->
    <link rel="stylesheet" type="text/css" href="{% static 'gift/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!--<script src="{% static 'gift/js/main.js' %}"></script>-->
</head>
<body>
    <!--Nav bar???-->
    {% block body %}
    {% endblock %}
    <footer>
      Copyright &copy; <span id="cr"></span> shapevibe.com
    </footer>
    <script type="text/javascript">
      var d = new Date();
      document.getElementById('cr').innerHTML = d.getFullYear();
    </script>
</body>
</html>
