{% extends 'gift/base.html' %}
{% block title %}Edit Profile{% endblock %}
{% load static %}

{% block body %}
<div class="container-fluid">
    {% if error_message %}
        <div class="alert alert-danger">
            {{ error_message }}
        </div>
    {% endif %}
    <form class="horizontal-form" method="post" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <button type="submit">Save changes</button>
    </form>
</div>
{% endblock %}