{% extends 'gift/base.html' %}
{% block title %}Edit Gift{% endblock %}

{% load static %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Edit Gift</h3>
                    {% if error_message %}
                        <div class="alert alert-danger">
                            {{ error_message }}
                        </div>
                    {% endif %}
                    <form class="form-horizontal" action="" role="form" method="post" enctype="multipart/form-data" id="gift_form">
                        {% csrf_token %}
                        <!--{{ form.as_p }}-->
                        {% for field in form %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <span class="text-danger small">{{ field.errors }}</span>
                                </div>
                                <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                                <div class="col-sm-10">{{ field }}</div>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}