{% extends 'gift/base.html' %}
{% load static %}

{% block body %}
    <!-- Shapevibe logo will -->
    <div class="container" id="container" style="width:100%;">
        <a href="{% url 'gift:view_profile' user.username %}"><img src="{% static 'gift/img/iconMedium.png' %}" width="150" alt="" style="margin-top:-2em; margin-left:-3em; position:fixed; z-index:9"></a><br>
        <!--<h1>Welcome {{user.username}} to Shapevibe!</h1>-->
        <!-- Search Bar to Query users, gifts, and tags -->
        <button id="searchButton" onclick="revealSearchBar()" style="z-index:9;"><img src="{% static 'gift/img/white-search.png' %}" width="80%" alt=""></button>
        <form method="get" role="search" action="{% url 'gift:index' %}" id="indexSearch" style="display:none;">
            <input type="text" name="q" id="id_q" value="{{ request.GET.q }}" placeholder="Search gifts and users" style="
                color:black;
                width: 70%;
            "/>
            <button type="submit" class="btn btn-primary">Go!</button>
        </form>
        {% if gifts %}
            <div class="row" id="giftWrapper">
            {% for gift in gifts %}
                <div class="col-sm-6 col-md-4 gift-item">
                    <div class="post-thumbnail">
                        <!-- If else statement with default img or uploaded img -->
                        {% if gift.gift_image %}
                            <img src="{{ gift.gift_image.url }}" class="img-responsive" alt="">
                        {% else %}
                            <img src="{% static 'gift/img/iconMedium.png' %}" class="img-responsive" alt="">
                        {% endif %}
                        <div class="caption" id="caption">
                            <h3><a href="" data-toggle="modal" data-target="#giftModal">{{gift.gift_title|title}}</a></h3>
                            <!--<h3><a href="{% url 'gift:detail' gift.id %}">{{gift.gift_title|title}}</a></h3>-->
                            <h4>Posted by <a href="{% url 'gift:view_profile' gift.user.username %}">{{gift.user}}</a> at {{gift.created_at}}</h4>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="giftModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="height:auto;">
                            <!--gift modal not working!!!!-->
                            <div class="modal-body">
                                <div class="row">
                                    <!-- gift image block -->
                                    <div class="col-md-7">
                                        <h1>test</h1>
                                    </div>
                                    <!-- gift info block -->
                                    <div class="col-md-5">
                                       <h1>{{ gift.gift_title }}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
                <div>
                    <h3 style="
                        text-align:center;
                        width: 80%;
                        margin: 0 auto;
                    ">
                        No gifts with the given title or description as: {{ query }}.</h3>
                </div>
        {% endif %}
        <div class="row">
            {% if users %}
            <div class="user-list">
                <h2 style="text-align:center;">User Results</h2>
                <ul>
                    {% for user in users %}
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <div class="thumbnail user-thumbnail">
                                {% if user.profile.avatar %}
                                    <img src="{{ user.profile.avatar.url }}" class="img-responsive" alt="">
                                {% else %}
                                    <img src="{% static 'gift/img/iconMedium.png' %}" class="img-responsive" alt="">
                                {% endif %}
                                <div class="user-caption">
                                    <h3><a href="{% url 'gift:view_profile' user.username %}">{{ user.username }}</a></h3>
                                    {% if user.profile.first_name and user.profile.last_name %}
                                        <h4>{{ user.profile.first_name }} {{ user.profile.last_name }}</h4>
                                    {% else %}
                                        <h4><strong>No name provided</strong></h4>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
<script>
    function revealSearchBar() {
        var x = document.getElementById("indexSearch");
        var y = document.getElementById("container");
        var z = document.getElementsByClassName("img-responsive");
        if (x.style.display === 'none'){
            x.style.display = "block";
            x.style.position = "fixed";
            x.style.width = "70%";

            x.style.display = "flex";
            x.style.justifyContent = "center";
            x.style.margin = "0 auto";
            x.style.zIndex = "12";

            y.style.zIndex = "9";
            z.style.opacity = "0.2";
        } else {
            x.style.display = "none";
            y.style.background = "black";
            z.style.background = "transparent";
        }
    }
</script>
{% endblock %}

<!-- Still does not pop up in url -->