{% extends 'gift/base.html' %}
{% load static %}

{% block body %}
    <!-- Shapevibe logo will -->
    <div class="container" style="width:100%;">
        <a href="{% url 'gift:view_profile' user.username %}"><img src="{% static 'gift/img/iconMedium.png' %}" width="150" alt="" style="margin-top:-2em; margin-left:-3em;"></a><br>
        <h1>Welcome {{user.username}} to Shapevibe!</h1>
        <!-- Search Bar to Query users, gifts, and tags -->
        <form method="get" role="search" action="{% url 'gift:index' %}">
          Search:<input type="text" name="q" id="id_q" value="{{ request.GET.q }}" style="color:black"/>
            <button type="submit" class="btn btn-primary">Go!</button>
        </form>
        {% if gifts %}
            <div class="row">
            {% for gift in gifts %}
                <div class="col-sm-6 col-md-4 gift-list">
                    <div class="thumbnail post-thumbnail">
                        <!-- If else statement with default img or uploaded img -->
                        {% if gift.gift_image %}
                            <img src="{{ gift.gift_image.url }}" class="img-responsive" alt="">
                        {% else %}
                            <img src="{% static 'gift/img/iconMedium.png' %}" class="img-responsive" alt="">
                        {% endif %}
                        <div class="caption" id="caption">
                            <!--<h3><a href="{% url 'gift:detail' gift.id %}" data-toggle="modal" data-target="#giftModal">{{gift.gift_title}}</a></h3>-->
                            <h3><a href="{% url 'gift:detail' gift.id %}">{{gift.gift_title|title}}</a></h3>
                            <h4>Posted by <a href="{% url 'gift:view_profile' gift.user.username %}">{{gift.user}}</a> at {{gift.created_at}}</h4>
                            <ul style="list-style:none; display:flex; justify-content:space-around;">
                                {% for tag in gift.tags %}
                                    <li>{{ tag }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="giftModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            {% if users %}
            <div class="user-list">
                <h3>User Results</h3>
                <ul>
                    {% for user in users %}
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <div class="thumbnail user-thumbnail">
                                {% if user.profile.avatar %}
                                    <img src="{{ user.profile.avatar.url }}" class="img-responsive" alt="">
                                {% else %}
                                    <img src="{% static 'gift/img/iconMedium.png' %}" class="img-responsive" alt="">
                                {% endif %}
                                <div class="user-caption">
                                    <h3><a href="{% url 'gift:view_profile' user.username %}">{{ user.username }}</a></h3>
                                    {% if user.profile.first_name and user.profile.last_name %}
                                        <h4 style="color:black">{{ user.profile.first_name }} {{ user.profile.last_name }}</h4>
                                    {% else %}
                                        <h4 style="color:black"><strong>No name provided</strong></h4>
                                    {% endif %}
                                    <strong style="color:black;">Tags: </strong><ul style="list-style:none; display:flex; justify-content:space-around; color:black;">
                                        {% for tag in user.profile.tags %}
                                            <li>{{tag}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

<!-- Still does not pop up in url -->
{% block javascript %}
    {% for gift in all_gifts %}
    $('#giftModal').modal({
        show:false,
        remote: 'gift/context/?p={{gift.id}}'
    })
    {% endfor %}
{% endblock %}