{% extends 'gift/base_visitor.html' %}
{% block title %}Login{% endblock %}
{% load static %}


{% block body %}
<div class="container-fluid">
    <div class="auth-panel">
        <img src="{% static 'gift/img/viberTool.png' %}" style="text-align:center" width="150px" alt="">
        <h1>Log in</h1>
        {% if error_message %}
            <div class="alert alert-danger">
                <div class="gift-value">{{ error_message }}</div>
            </div>
        {% endif %}
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data" style="margin: 0 auto;">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-form-label" for="id_username" style="margin: 0 auto;">Username:</label>

                <input class="form-control gift-value" id="id_username" maxlength="30" name="username" type="text" style="
                    width: 50%;
                    margin: 0 auto;
                    border-radius: 5px;
                    border: solid 2px yellow;
                    height: 2.5em;
                    font-size: 1em;"
                />

            </div>
            <div class="form-group">
                <label class="control-label col-form-label" for="id_password">Password:</label>

                <input class="form-control gift-value" id="id_password" maxlength="30" name="password" type="password" style="
                    width: 50%;
                    margin: 0 auto;
                    border-radius: 5px;
                    border: solid 2px yellow;
                    height: 2.5em;
                    font-size: 1em;"
                />

            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <p class="gift-value"><a href="/password_reset">Forgot you password?</a></p>
        <br>
        <strong>-- OR --</strong><br>
        <div style="width:200px; margin:0 auto; display:flex; justify-content:space-around">
            <a href="{% url 'social:begin' 'twitter' %}" class="gift-value" style="font-size:2em;"><i class="fa fa-twitter" aria-hidden="true"></i></a><br>
            <a href="{% url 'social:begin' 'facebook' %}" class="gift-value" style="font-size:2em;"><i class="fa fa-facebook-official" aria-hidden="true"></i></a><br>
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="gift-value" style="font-size:2em;"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
        </div>
        <br>

        <div class="login-footer gift-value">
            Don't have an account? <a href="{% url 'gift:register' %}">Click here</a> to register.
        </div>
        <br>
        <a href="{% url 'about' %}">What is shapevibe?</a>
    </div>
</div>
{% endblock %}