
{% load static %}

{% block body %}


        <div class="modal-content" style="height:auto;background:rgb(0,0,0);">
            <div class="row">
                <div class="col-md-7 modal-thumbnail">
                        {% if gift.gift_image %}
                            <img src="{{ gift.gift_image.url }}" class="img-responsive" alt="">
                        {% else %}
                            <img src="{% static 'gift/img/iconMedium.png' %}" alt="">
                        {% endif %}
                </div>
                <div class="col-md-5 modal-thumbnail">
                    <p><span class="gift-value" style="white-space: pre-wrap;">{{gift.gift_description}}</span></p><br>
                    <div class="modal-caption">
                        <span class="gift-value">{{gift.gift_title}}</span><br>
                        <span class="gift-value">{{user.username}}</span><br>
                        {% if gift.price %}
                            <span class="gift-value">${{gift.price}}</span>
                        {% else %}
                            <span class="gift-value">Free</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


{% endblock %}