{% extends 'gift/base.html' %}
{% block title %}Shapeviber{% endblock %}
{% load static %}

{% block body %}
    <div class="container" style="width:100%;">
        <!-- shapevibe logo and home/profile logo -->
        <a href="{% url 'gift:index' %}" style="margin-left:0.5em;margin-top:2em;display:block;"><img src="{% static 'gift/img/iconMedium.png' %}" width="80px" class="img-responsive" alt=""></a><br>
        <a href="{% url 'gift:logout_user' %}" style="color:white;margin-left:0.5em;">Logout</a>
        <!-- profile info -->
        <div class="row">
            <!-- Profile info -->
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 profile-wrapper" style="margin-top:-5em;">
                <div class="top-bar" style="width:100%; display:flex; justify-content: space-around; height:6em;">
                    <img id="homeIcon" src="{% static 'gift/img/home.png' %}"  class="img-responsive" style="margin-bottom:0.25em;margin-left:1em;display:block;" alt="">
                    <img id="giftIcon" src="{% static 'gift/img/gift.png' %}"  class="img-responsive" style="margin-bottom:0.25em;margin-left:4em;display:none;" alt="">

                    <a href="{% url 'gift:create_gift' %}"><button id="giftButton" class="btn btn-primary" style="display:none;height:2em;margin-top:2em;">Add Gift +</button></a>

                </div>
                <div class="panel panel-default" style="height:450px;overflow-y:scroll">
                    <div class="row" id="profileWrapper">
                        <!-- List of User's gifts -->
                        <div class="gift-list" id="giftList" style="
                            height: auto;
                            width:95%;
                            display:none;
                            margin: 0 auto;
                            padding:0 0.5em;
                            ">
                            <h1>{{user.username}}'s Gifts</h1>
                            <div class="gift-wrapper">
                                <div class="list" style="width:100%;">
                                    {% if gifts %}
                                        {% for gift in gifts %}
                                            {% cycle 'odd' 'even' as state silent %}
                                            {% if state == 'odd' %}
                                            <div class="well" style="
                                                height: 9em;
                                                width: auto;
                                                margin: 0 auto;
                                                padding: 19px 0;
                                                ">
                                                <div class="col-md-5 profile-gift-well" style="height:100%; width:100%; display-flex; justify-content:space-around;">
                                                    {% if gift.gift_image %}
                                                        <img src="{{gift.gift_image.url}}" class="img-responsive" width="100px" alt="">
                                                    {% else %}
                                                        {% if gift.gift_audio %}
                                                            <img src="{% static 'gift/img/Shapevibe-Audio.png' %}" class="img-responsive" width="100px" alt="">
                                                        {% else %}
                                                            <img src="{% static 'gift/img/iconMedium.png' %}" alt="" width="100px">
                                                        {% endif %}
                                                    {% endif %}
                                                    <div class="profile-gift-well-caption" style="display:block; width:60%; font-size: 0.75em;">
                                                        <span class="gift-value" style="color:darkgrey;">{{ gift.created_at }}</span><br>
                                                        <span class="gift-value" style="color:darkgrey;">{{ gift.gift_title|title }}</span>
                                                    </div>
                                                    <a href="{% url 'gift:detail' gift.id %}"><img src="{% static 'gift/img/eye.png' %}" height="50px" alt=""></a>
                                                    <div class="actions">
                                                        <a href="{% url 'gift:edit_gift' gift.id %}"><button class="btn btn-primary" style="padding:5px;"><i class="fa fa-edit"></i></button></a>
                                                        <a href="{% url 'gift:delete_gift' gift.id %}" onclick="return confirm('Are you sure you want to delete gift?')"><button class="btn btn-danger" style="padding:5px;"><i class="fa fa-trash"></i></button></a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="alert alert-info">You have no gifts posted.</div>
                                    {% endif %}
                                </div>
                                <div class="list" style="width:100%;">
                                         {% for gift in gifts %}
                                            {% cycle 'odd' 'even' as state silent %}
                                            {% if state == 'even' %}
                                            <div class="well" style="
                                                height: 9em;
                                                width: auto;
                                                margin: 0 auto;
                                                ">
                                                <div class="profile-gift-well" style="height:100%; width:100%; display-flex; justify-content:space-around;">
                                                    {% if gift.gift_image %}
                                                        <img src="{{gift.gift_image.url}}" class="img-responsive" width="100px" alt="">
                                                    {% else %}
                                                        {% if gift.gift_audio %}
                                                            <img src="{% static 'gift/img/Shapevibe-Audio.png' %}" class="img-responsive" width="100px" alt="">
                                                        {% else %}
                                                            <img src="{% static 'gift/img/iconMedium.png' %}" alt="" width="100px">
                                                        {% endif %}
                                                    {% endif %}
                                                    <div class="profile-gift-well-caption" style="display:block; width:60%; font-size: 0.75em;">
                                                        <span class="gift-value" style="color:darkgrey;">{{ gift.created_at }}</span><br>
                                                        <span class="gift-value" style="color:darkgrey;">{{ gift.gift_title|title }}</span>
                                                    </div>
                                                    <a href="{% url 'gift:detail' gift.id %}"><img src="{% static 'gift/img/eye.png' %}" height="50px" alt=""></a>
                                                    <div class="actions">
                                                        <a href="{% url 'gift:edit_gift' gift.id %}"><button style="padding:5px;" class="btn btn-primary"><i class="fa fa-edit"></i></button></a>
                                                        <a href="{% url 'gift:delete_gift' gift.id %}" onclick="return confirm('Are you sure you want to delete gift?')"><button style="padding:5px" class="btn btn-danger"><i class="fa fa-trash"></i></button></a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="profile-info" id="profileInfo" style="height:500px;">
                            <div class="col-sm-5 col-md-5 col-lg-5 profile-half" style="padding-top:5em;">
                                {% if user.username == profile.username %}
                                    <!-- Profile Pic -->
                                    {% if user.profile.avatar %}
                                        <center><img src="{{ user.profile.avatar.url }}" alt="" width="200px" style="border-radius:50%"></center>
                                    {% else %}
                                        <center><img src="{% static 'gift/img/profile-icon.png' %}" alt="" width="200px"></center>
                                    {% endif %}
                                {% else %}
                                    {% if profile.profile.avatar %}
                                        <center><img src="{{ profile.profile.avatar.url }}" alt="" width="200px" style="border-radius:50%"></center>
                                    {% else %}
                                        <center><img src="{% static 'gift/img/profile-icon.png' %}" alt="" width="200px"></center>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-sm-4 col-md-5 col-lg-5 profile-half" style="padding: 0 2em;">
                                {% if success_message %}
                                    <div class="alert alert-success">
                                        <span class="gift-value">{{ success_message }}</span>
                                    </div>
                                {% endif %}
                                {% if user.username == profile.username %}
                                    <h2>{{user.username}}</h2>
                                    <!--<h4>Email: <span class="gift-value">{{user.email}}</span></h4>-->
                                    name:<br></name:br><span class="gift-value">{{user.profile.first_name}} {{ user.profile.last_name }}</span><br><br>
                                    <!-- Profile Pic -->
                                    <!--{% if user.profile.avatar %}-->
                                        <!--<img src="{{ user.profile.avatar.url }}" alt="" width="200px" style="border-radius:20%">-->
                                    <!--{% else %}-->
                                        <!--<img src="{% static 'gift/img/profile-icon.png' %}" alt="" width="200px">-->
                                    <!--{% endif %}-->
                                    <!--<br>-->
                                    about: <p class="profile-summary gift-value">{{user.profile.summary}}</p><br>
                                    gifts:
                                    {% if recent_gifts %}
                                        {% for gift in recent_gifts %}

                                                <div class="well" style="
                                                    height: 7em;
                                                    width: auto;
                                                    margin: 0 auto;
                                                    ">
                                                    <div class="profile-gift-well" style="height:100%; width:100%; display-flex; justify-content:space-between;">
                                                        {% if gift.gift_image %}
                                                            <img src="{{gift.gift_image.url}}" class="img-responsive" width="60px" alt="">
                                                        {% else %}
                                                            {% if gift.gift_audio %}
                                                                <img src="{% static 'gift/img/Shapevibe-Audio.png' %}" class="img-responsive" width="60px" alt="">
                                                            {% else %}
                                                                <img src="{% static 'gift/img/iconMedium.png' %}" alt="" width="60px">
                                                            {% endif %}
                                                        {% endif %}
                                                        <div class="profile-gift-well-caption" style="display:block; width:60%; font-size: 0.75em;">
                                                            <span class="gift-value" style="color:darkgrey;">{{ gift.created_at }}</span><br>
                                                            <span class="gift-value" style="color:darkgrey;">{{ gift.gift_title|title }}</span><br>
                                                        </div>
                                                        <a href="{% url 'gift:detail' gift.id %}"><img src="{% static 'gift/img/eye.png' %}" class="img-responsive" alt=""></a>
                                                    </div>
                                                </div>

                                        {% endfor %}
                                    {% else %}
                                        <div class="alert alert-info">You have no gifts posted.</div>
                                    {% endif %}
                                <hr>
                                    <div class="profile-actions" style="display:flex; justify-content: space-between;">
                                        <a href="{% url 'gift:update_profile' %}"><button class="btn btn-primary">Edit Profile</button></a>
                                        <a href="{% url 'gift:delete_user' user.username %}" onclick="return confirm('Are you sure you want to delete your profile?')"><button class="btn btn-danger">Delete Profile</button></a>
                                    </div>
                                {% else %}
                                    <h2>{{profile.username}}</h2>
                                    <!--<h4>Email: <span class="gift-value">{{profile.email}}</span></h4>-->
                                    name: <span class="gift-value">{{profile.profile.first_name}} {{ profile.profile.last_name }}</span><br><br>
                                    <!-- summary -->
                                    about: <p class="profile-summary gift-value">{{profile.profile.summary}}</p>
                                    gifts: <br>
                                    <!-- scrollable list -->
                                    {% if gifts_by_viewed_user %}
                                        <div class="profile-gift-wrapper" style="height:200px; overflow-y:scroll">
                                            {% for gift in gifts_by_viewed_user %}
                                            <a href="{% url 'gift:detail' gift.id %}" style="text-decoration:none;">
                                                <div class="well profile-gift-well" style="
                                                    height: 7em;
                                                    display: flex;
                                                    width: auto;
                                                    margin: 0 auto;
                                                    justify-content: space-around;">
                                                    {% if gift.gift_image %}
                                                        <img src="{{gift.gift_image.url}}" class="img-responsive" width="80px" alt="">
                                                    {% else %}
                                                        {% if gift.gift_audio %}
                                                            <img src="{% static 'gift/img/Shapevibe-Audio.png' %}" class="img-responsive" width="80px" alt="">
                                                        {% else %}
                                                            <img src="{% static 'gift/img/iconMedium.png' %}" alt="" width="80px">
                                                        {% endif %}
                                                    {% endif %}
                                                    <div class="profile-gift-well-caption" style="display:flex;">
                                                        <span class="gift-value" style="color:darkgrey;">{{ gift.created_at }}</span><br>
                                                        <span class="gift-value" style="color:darkgrey;">{{ gift.gift_title|title }}</span><br>
                                                        <a href="{% url 'gift:detail' gift.id %}"><img src="{% static 'gift/img/eye.png' %}" height="50px" alt=""></a>
                                                    </div>
                                                </div>
                                            </a>
                                        {% endfor %}
                                        </div>
                                    {% else %}
                                        <div class="alert alert-info">
                                            <span class="gift-value">No gifts</span>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="controller" style="
            background: black;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            height: auto;">
            <div class="controller-panel" style="
                width:75%;
                background: transparent;
                margin: 0 auto;
                display:flex;
                justify-content: space-between;
                padding:1.5em; 0;">
                <a href="{% url 'gift:view_profile' user.username %}"><img src="{% static 'gift/img/home.png' %}" class="img-responsive" alt=""></></a>
                <a href="" style="padding:0 10px;"><img class="unavailable-content img-responsive" src="{% static 'gift/img/friends.png' %}" alt=""></a>

                <button onclick="showAllGifts()" style="background:transparent;border:none;padding:0 10px;"><img src="{% static 'gift/img/gift.png' %}" class="img-responsive" alt=""></button>


                <a href="" style="padding:0 10px;"><img class="unavailable-content img-responsive" src="{% static 'gift/img/heart.png' %}" alt=""></a>
                <a href="" style="padding:0 10px;"><img class="unavailable-content img-responsive" src="{% static 'gift/img/star.png' %}" alt=""></a>
                <a href="" style="padding:0 10px;"><img class="unavailable-content img-responsive" src="{% static 'gift/img/cloud.png' %}" alt=""></a>
                <a href="" style="padding:0 10px;"><img class="unavailable-content img-responsive" src="{% static 'gift/img/wrench.png' %}" alt=""></a>
            </div>
        </div>
    </div>

<script>
    //use in-line js for controller actions on showing specific content
    var x = document.getElementById("profileInfo");
    var y = document.getElementById("giftList");
    var h = document.getElementById("homeIcon");
    var g = document.getElementById("giftIcon");
    var b = document.getElementById("giftButton");
    function showAllGifts() {
        if (y.style.display === 'none'){
            y.style.display = 'block';
            x.style.display = 'none';
            h.style.display = 'none';
            g.style.display = 'block';
            b.style.display = 'block';
        }
    }

    function showProfile() {
        if (y.style.display === 'block') {
            y.style.display = 'none';
            x.style.display = 'block';
            h.style.display = 'block';
            g.style.display = 'none';
            b.style.display = 'none';
        }
    }
</script>

{% endblock %}