{% extends 'gift/base.html' %}
{% block title %}Shapeviber{% endblock %}
{% load static %}

{% block body %}
    <div class="container" style="width:100%;">
        <!-- shapevibe logo and home/profile logo -->
        <a href="{% url 'gift:index' %}"><img src="{% static 'gift/img/iconMedium.png' %}" width="150" alt=""></a><br>
        <a href="{% url 'gift:logout_user' %}">Logout</a>
        <!-- profile info -->
        <div class="row">
            <!-- Profile info -->
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 panel panel-default">
                <div class="row" id="profileWrapper">
                    <!-- List of User's gifts -->
                    <div class="gift-list" style="
                        height: 500px;
                        width:auto;
                        overflow-x:scroll;
                        display:block;
                        ">
                        {% if user.username == profile.username %}
                            <h1>{{user.username}}'s Gifts</h1>
                            <!--{{ last_gift.gift_title }}-->
                            <a href="{% url 'gift:create_gift' %}">+</a>
                            {% for gift in gifts %}
                            <a href="{% url 'gift:detail' gift.id %}" style="text-decoration:none;">
                                <div class="well profile-gift-well" style="
                                    height: 9em;
                                    display: flex;
                                    width: auto;
                                    margin: 0 auto;
                                    justify-content: space-around;">
                                    {% if gift.gift_image %}
                                        <img src="{{gift.gift_image.url}}" class="img-responsive" width="100px" alt="">
                                    {% else %}
                                        <img src="{% static 'gift/img/iconMedium.png' %}" alt="" width="100px">
                                    {% endif %}
                                    <div class="profile-gift-well-caption" style="display:block;">
                                        <span class="gift-value" style="color:darkgrey;">{{ gift.created_at }}</span><br>
                                        <span class="gift-value" style="color:darkgrey;">{{ gift.gift_title|title }}</span><br>
                                        <a href="{% url 'gift:edit_gift' gift.id %}">Edit</a>
                                        <a href="{% url 'gift:delete_gift' gift.id %}" onclick="return confirm('Are you sure?')">Delete</a>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        {% else %}
                            <h1>{{profile.username}}'s Gifts</h1>
                            <!--{{ last_gift.gift_title }}-->
                            {% for gift in profile_gifts %}
                                <div class="well profile-gift-well" style="
                                    height: 9em;
                                    display: flex;
                                    width: auto;
                                    margin: 0 auto;
                                    justify-content: space-around;">
                                    {% if gift.gift_image %}
                                        <a href="{% url 'gift:detail' gift.id %}"><img src="{{gift.gift_image.url}}" class="img-responsive" width="100px" alt=""></a>
                                    {% else %}
                                        <a href="{% url 'gift:detail' gift.id %}"><img src="{% static 'gift/img/iconMedium.png' %}" width="100px" alt=""></a>
                                    {% endif %}
                                    <div class="profile-gift-well-caption" style="display:block;">
                                        <span class="gift-value">{{ gift.created_at }}</span><br>
                                        <span class="gift-value">{{ gift.gift_title|title }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-md-offset-1 controller" style="">
                <a href="{% url 'gift:view_profile' user.username %}"><img src="{% static 'gift/img/home.png' %}" alt=""></a>
                <a href=""><img class="unavailable-content" src="{% static 'gift/img/friends.png' %}" alt=""></a>
                {% if user.username == profile.username %}
                    <a href="{% url 'gift:view_profile_gifts' user.username %}"><img src="{% static 'gift/img/gift.png' %}" alt=""></a>
                {% else %}
                    <a href="{% url 'gift:view_profile_gifts' profile.username %}"><img src="{% static 'gift/img/gift.png' %}" alt=""></a>
                {% endif %}
                <a href=""><img class="unavailable-content" src="{% static 'gift/img/heart.png' %}" alt=""></a>
                <a href=""><img class="unavailable-content" src="{% static 'gift/img/star.png' %}" alt=""></a>
                <a href=""><img class="unavailable-content" src="{% static 'gift/img/cloud.png' %}" alt=""></a>
                <a href=""><img class="unavailable-content" src="{% static 'gift/img/wrench.png' %}" alt=""></a>
            </div>
        </div>
    </div>

{% endblock %}