{% extends 'gift/base_visitor.html' %}
{% block title %}Register{% endblock %}
{% load static %}


{% block body %}
<div class="container-fluid">
    <div class="auth-panel">
        <img src="{% static 'gift/img/iconMedium.png' %}" width="150" alt="">
        <h1>Sign up</h1>
        {% if error_message %}
            <div class="alert alert-danger gift-value">
                {{ error_message }}
            </div>
        {% endif %}
        <form class="" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
               <div class="form-group" style="text-align:center;">
                   {{ field.label_tag }}

                   <center class="gift-value">{{ field }}</center>
               </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Sign up</button>
        </form>
        <br>
        <strong>-- OR --</strong><br>

            <div style="width:200px; margin:0 auto; display:flex; justify-content:space-around">
                <a href="{% url 'social:begin' 'twitter' %}" class="gift-value" style="font-size:2em;"><i class="fa fa-twitter" aria-hidden="true"></i></a><br>
                <a href="{% url 'social:begin' 'facebook' %}" class="gift-value" style="font-size:2em;"><i class="fa fa-facebook-official" aria-hidden="true"></i></a><br>
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="gift-value" style="font-size:2em;"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
            </div>

        <br>

        <div class="login-footer gift-value">
            Already have an account? <a href="{% url 'gift:login_user' %}">Click here</a> to login.
        </div>
        <br>
        <a href="{% url 'about' %}">What is shapevibe?</a>
    </div>
</div>
{% endblock %}