{% extends 'gift/base_visitor.html' %}
{% block title %}Register{% endblock %}
{% load static %}


{% block body %}
<div class="container-fluid">
    <div class="auth-panel">
        <img src="{% static 'gift/img/iconMedium.png' %}" width="150" alt="">
        <h1>Sign up</h1>
        {% if error_message %}
            <div class="alert alert-danger gift-value">
                {{ error_message }}
            </div>
        {% endif %}
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
               <div class="form-group sm" style="text-align:center;">

                   {{ field.label_tag }}

                   {{ field }}
               </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Sign up</button>
        </form>
        <strong>-- OR --</strong><br>
        <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a><br>
        <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a><br>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google+</a>
        <br>
        <hr>
        <div class="login-footer">
            Already have an account? <a href="{% url 'gift:login_user' %}">Click here</a> to login.
        </div>
        <hr>
        <a href="{% url 'about' %}">What is shapevibe?</a>
    </div>
</div>
{% endblock %}